body {
    font-family: 'Assistant', sans-serif;
    color: #393333;
}

h1 {
    font-size: 2.8rem;
    font-weight: 900;
}

h2 {
    font-size: 1.5rem;
    font-weight: 700;
}

header {
    display: flex;
    align-items: center;
    height: 64px;
}

.logo {
    display: flex;
    align-items: center;
    flex-grow: 1;
    height: 32px;
    margin: 0 24px;
    font-size: 1.2rem;
}

.logo .firstword {
    font-weight: bold;
}

.logo .secondword {
    color: gray;
}

header ul {
    display: flex;
    margin-right: 24px;
}

header ul li {
    margin-left: 16px;
}

.container {
    display: flex;
}

.column {
    display: flex;
    flex-direction: column;
    margin-top: 32px;
    margin-bottom: 32px;
}

.banner .rightside {
    justify-content: center;
}

.banner h2 {
    line-height: 150%;
}

.banner .button {
    width: 19rem;
    text-align: center;
    font-size: 1.1rem;
    padding: 8px 0;
    color: white;
    background-color: #393333;
}

.gray {
    background-color: lightgray;
}

.column.leftside {
    width: 60%;
    min-height: 400px;
    margin-left: 24px;
    margin-right: 24px;
}

.column.rightside {
    width: 40%;
}

.column.leftside img {
    width: 100%;
}

.information .rightside {
    justify-content: space-between;
}

.information h1 {
    margin: 32px 0 24px 0;
}

.information p {
    line-height: 1.3rem;
}

.information .author {
    font-size: 0.8rem;
}

.infodetail {
    display: flex;
    align-items: center;
}

.infodetail img {
    width: 35%;
    margin: 16px;
}

.infodetail.topmost img {
    margin-top: 0;
}

.infodetail p {
    margin-top: 8px;
}

.learning h1, .thesis h1 {
    text-align: center;
    padding: 32px 0;
}

.h-container {
    display: flex;
    justify-content: center;
    margin: 0 56px 32px 56px;
}

.learningdetail {
    width: 33%;
    background-color: white;
    margin-left: 16px;
    margin-right: 16px;
}

.learningdetail img {
    width: 100%;
}

.learningdetail h2 {
    margin-top: 16px;
    margin-left: 16px;
}

.learningdetail p {
    margin-left: 16px;
}

.learningdetail .courses {
    margin-top: 8px;
    margin-bottom: 8px;
}

.learningdetail .coursedesc {
    margin-bottom: 24px;
}

.h-container.second {
    padding-bottom: 32px;
}

.thesis video {
    width: 100%;
}